GOOGLE_SERVER_CLIENT_ID=567977676527-nf0pd2g5ajppspljfnqmmvv9n8oreprc.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=4452201473-v7diq5c12orvbk3ctkr522ur4is078il.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.4452201473-v7diq5c12orvbk3ctkr522ur4is078il
KAKAO_NATIVE_APP_KEY=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_CLIENT_NAME=Au-Park
NAVER_URL_SCHEME=aupark-naver
